*{box-sizing:border-box;}
sup {
    vertical-align: super;
    font-size: smaller;
}
#main{max-width:1960px;width:100%;font-family:'Roboto',sans-serif;height:5000px;}
#main{max-width:1960px;width:100%;font-family: 'Roboto', sans-serif;}
strong{font-weight:700;}
.container{max-width:1366px;margin:0 auto;}
header{width:100%;height:140px;padding:10px;position:absolute;top:0;z-index:1;}
header .logo{width:200px;float:left;}
header .phones{width:85%;padding-top:15px;float:left;}
@media (max-width:1280px) {
    header .phones{width:83%;}
}
header .phones .contact{padding-left:110px;float:right;}
header .phones .icon{width:50px;height:50px;margin-right:10px;float:left;}
header .phones .number{float:left;color:#1f3c8c;line-height:1.2rem;}
header .menu{width:100%;height:50px;float:left;margin-top:15px;background:#1f3c8c;box-shadow:2px 2px 2px #666;}
header .menu li{width:16.65%;float:left;position:relative;}
header .menu li a{width:100%;height:50px;padding-top:16px;float:left;text-align:center;color:#fff;text-decoration:none;transition:background 0.5s;}
header .menu li a:hover{background:#0d225d;}
header .menu li ul{width:200px;position:absolute;top:50px;left:50%;margin:0 -100px;background:#fff;display:none;box-shadow:3px 3px 10px #666;}
header .menu li ul li{width:200px;border-bottom:1px solid #ccc;}
header .menu li ul li:last-child{border:none;}
header .menu li ul li a{color:#1f3c8c;}
header .menu li ul li a:hover{color:#fff;}
@media (max-width:1024px) {
    header .phones,header .menu{display:none;}
}
.hamburguer{display:none;}
@media (max-width:1024px) {
    .hamburguer{font-size:2rem;position:absolute;top:20px;right:20px;height:20px;display:block;color:#1f3c8c;}
}
.mobile-menu{display:none;}
@media (max-width:1024px) {
    .mobile-menu{width:100%;height:100vh;padding:0 20px;position:relative;position:fixed;top:0;right:-100%;background:#fff;-moz-transition:all .2s linear;-ms-transition:all .2s linear;transition: all .2s linear;display:block;}
}
.mobile-menu .top{padding:10px 0 20px;}
.mobile-menu .top img{width:200px;height:auto;}
.mobile-menu .top .close{font-size:2rem;position:absolute;top:20px;right:20px;color:#1f3c8c;}
.mobile-menu li{width:100%;padding:15px;border-bottom:1px solid #ccc;}
.mobile-menu li a{text-decoration:none;color:#1f3c8c;}
.mobile-menu li ul{display:none;}
.mobile-menu li ul li{padding:20px 0 0 20px;border:none;}
.mobile-menu li ul li:first-child{padding:20px 0 0 20px;}
.mobile-menu li ul li a{text-decoration:none;}
.actived{-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);-ms-transform: translateX(-100%);transform:translateX(-100%);}
.bx-wrapper{height:450px;margin-bottom:0 !important;border:0 !important;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus{background:#1f3c8c !important;}
.one{width:100%;height:450px;float:left;background:url(../images/banner01.jpg) center center;}
.one .content{width:30%;padding:0 20px;font-size:2.5rem;line-height:3rem;color:#fff;font-weight:700;position:absolute;bottom:80px;}
.one .content{text-shadow:3px 3px 5px #333;}
@media (max-width:1024px) {
    .one .content{width:100%;text-align:center;bottom:15px;}
}
#quem-somos{width:100%;float:left;padding:40px 0;}
#quem-somos .container{padding:50px 100px;}
@media (max-width:1024px) {
    #quem-somos .container{padding:30px;}
    #quem-somos .container{padding:50px 30px;}
}
#quem-somos .fotos{width:40%;float:left;}
@media (max-width:1024px) {
    #quem-somos .fotos{width:100%;}
}
#quem-somos .item1{grid-area:foto1;height:250px;color:#fff;position:relative;}
@media (max-width:1024px) {
    #quem-somos .item1{height:100px;}
}
#quem-somos .item1 p{position:absolute;bottom:20px;right:20px;}
@media (max-width:1024px) {
    #quem-somos .item1 p{left:20px;}
}
#quem-somos .item2{grid-area:foto2;padding:20px;}
#quem-somos .item3{grid-area:foto3;height:150px;}
@media (max-width:1024px) {
    #quem-somos .item2,#quem-somos .item3{display:none;}
}
#quem-somos .grid-container {
display: grid;
    grid-template-areas:
      'foto1 foto1 foto1 foto2 foto2 foto2'
      'foto3 foto3 foto3 foto3 foto3 foto3';
    grid-gap: 15px;
}
@media (max-width:1024px) {
    #quem-somos .grid-container {
        display: grid;
        grid-template-areas:
        'foto1 foto1 foto1 foto1 foto1 foto1'
    }
}
#quem-somos .grid-container > div {padding:0px 0;font-size:1.5rem;line-height:1.8rem;}
#quem-somos .grid-container > div:nth-child(1){background:#1f3c8c;}
#quem-somos .grid-container > div:nth-child(2){background:url(../images/quem-somos01.jpg) center center;background-size:100%;}
#quem-somos .grid-container > div:nth-child(3){background:url(../images/quem-somos02.jpg) center center;background-size:100%;}
#quem-somos .texto{width:60%;padding:0 20px 0 65px;float:left;color:#666;}
@media (max-width:1024px) {
    #quem-somos .texto{width:100%;padding:20px 0;}
}
#quem-somos .texto h1{font-size:1.5rem;font-weight:700;line-height:1.8rem;}
#quem-somos .texto h2,#quem-somos .texto p{padding:20px 0;line-height:1.2rem;}
@media (max-width:1024px) {
    #quem-somos .texto p:last-child{padding:0;}
}
.mfp-title{font-family:'Roboto',sans-serif;}
#instalacao{width:100%;float:left;background:#ececec;}
#instalacao img{width:100%;height:auto;}
#instalacao .container{padding:50px 100px;}
@media (max-width:1024px) {
    #instalacao .container{padding:30px;}
}
#instalacao .item2,#instalacao .item3,#instalacao .item5,#instalacao .item5{transition:opacity 0.5s;position:relative;}
#instalacao .item2 title{visibility:hidden;}
#instalacao .item2:hover,#instalacao .item3:hover,#instalacao .item4:hover,#instalacao .item5:hover{opacity:0.4;}
#instalacao .item1{grid-area:texto;height:265px;}
#instalacao .item1 h3{padding-bottom:30px;font-size:1.5rem;color:#1f3c8c;font-weight:700;position:relative;}
#instalacao .item1 h3 span{width:200px;height:5px;background:#50b9ce;position:absolute;top:30px;left:0;}
#instalacao .item1 p{padding-bottom:15px;color:#666;line-height:1.2rem;}
#instalacao .item2 {grid-area: foto1; }
#instalacao .item3 {grid-area: foto2;height:265px; }
#instalacao .item4 {grid-area: foto3; }
#instalacao .item5 {grid-area: foto4;}
@media (max-width:1024px) {
    #instalacao .item1,#instalacao .item2,#instalacao .item3,#instalacao .item4,#instalacao .item5{height:auto;}
}
#instalacao .grid-container {
  display: grid;
  grid-template-areas:
    'texto texto texto texto foto1 foto1 foto1 foto1'
    'foto2 foto2 foto2 foto2 foto3 foto3 foto4 foto4';
  grid-gap:15px;
}
@media (max-width:1024px) {
    #instalacao .grid-container {
        display: grid;
        grid-template-areas:
        'texto texto texto texto texto texto texto texto'
        'foto1 foto1 foto1 foto1 foto1 foto1 foto1 foto1'
        'foto2 foto2 foto2 foto2 foto2 foto2 foto2 foto2'
        'foto3 foto3 foto3 foto3 foto4 foto4 foto4 foto4';
    }
}
#instalacao .grid-container > div:nth-child(1){padding:30px}
@media (max-width:1024px) {
    #instalacao .grid-container > div:nth-child(1){padding:0}
}
#manutencao{width:100%;float:left}
#manutencao img{width:100%;height:auto;}
#manutencao .container{padding:50px 100px;}
@media (max-width:1024px) {
    #manutencao .container{padding:30px;}
}
#manutencao .item2,#manutencao .item3,#manutencao .item5,#manutencao .item5{transition:opacity 0.5s;position:relative;}
#manutencao .item2 title{visibility:hidden;}
#manutencao .item2:hover,#manutencao .item3:hover,#manutencao .item4:hover,#manutencao .item5:hover{opacity:0.4;}
#manutencao .item1{grid-area:texto;height:265px;}
#manutencao .item1 h3{padding-bottom:30px;font-size:1.5rem;color:#1f3c8c;font-weight:700;position:relative;}
#manutencao .item1 h3 span{width:200px;height:5px;background:#50b9ce;position:absolute;top:30px;left:0;}
#manutencao .item1 p{padding-bottom:15px;color:#666;line-height:1.2rem;}
#manutencao .item2 {grid-area: foto1; }
#manutencao .item3 {grid-area: foto2;height:265px; }
#manutencao .item4 {grid-area: foto3; }
#manutencao .item5 {grid-area: foto4;}
@media (max-width:1024px) {
    #manutencao .item1,#manutencao .item2,#manutencao .item3,#manutencao .item4,#manutencao .item5{height:auto;}
}
#manutencao .grid-container {
  display: grid;
  grid-template-areas:
    'texto texto texto texto foto1 foto1 foto1 foto1'
    'foto2 foto2 foto3 foto3 foto4 foto4 foto4 foto4';
  grid-gap:15px;
}
@media (max-width:1024px) {
    #manutencao .grid-container {
        display: grid;
        grid-template-areas:
        'texto texto texto texto texto texto texto texto'
        'foto1 foto1 foto1 foto1 foto1 foto1 foto1 foto1'
        'foto2 foto2 foto2 foto2 foto2 foto2 foto2 foto2'
        'foto3 foto3 foto3 foto3 foto3 foto3 foto3 foto3'
        'foto4 foto4 foto4 foto4 foto4 foto4 foto4 foto4';
    }
}
#manutencao .grid-container > div:nth-child(1){padding:30px}
@media (max-width:1024px) {
    #manutencao .grid-container > div:nth-child(1){padding:0}
}
#obras{width:100%;float:left;position:relative;background:#ececec;}
#obras h3{padding-bottom:30px;font-size:1.5rem;color:#1f3c8c;font-weight:700;position:relative;}
#obras h3 span{width:200px;height:5px;background:#50b9ce;position:absolute;top:30px;left:0;}
#obras img{width:100%;height:auto;}
#obras .container{padding:50px 100px}
@media (max-width:1024px) {
    #obras .container{padding:30px;}
}
#obras .room,#obras .explanation{width:50%;float:left;}
@media (max-width:1024px) {
    #obras .room,#obras .explanation{width:100%;}
}
#obras .room{transition:opacity 0.5s;}
#obras .room:hover{opacity:0.5;}
#obras .explanation{padding:85px 55px;}
@media (max-width:1024px) {
    #obras .explanation{padding:30px 0 0;}
}
#obras .explanation .hat{color:#1f3c8c;}
#obras .explanation h4{padding:15px 0 25px;font-size:1.5rem;color:#50b9ce;font-weight:700;}
#obras .explanation p{color:#666;line-height:1.2rem;}
.galery{width:100%;float:left;}
.galery .container{padding:0 100px 25px !important;}
@media (max-width:1024px) {
    .galery .container{padding:0 30px !important;}
}
.galery .flex-container{margin:30px 0;display:flex;flex-wrap:nowrap;}
@media (max-width:1024px) {
    .galery .flex-container{margin:20px 0;flex-direction:column;}
}
.galery .flex-container > div {width:20%;height:180px;margin:0 10px;background:#ccc;transition:opacity 0.5s;}
.galery .flex-container > div:hover{opacity:0.5;}
@media (max-width:1024px) {
    .galery .flex-container > div{width:100%;height:auto;margin:10px 0;}
}
#higienizacao{width:100%;padding-bottom:50px;float:left;background:#fff;}
#higienizacao h3{padding-bottom:30px;font-size:1.5rem;color:#1f3c8c;font-weight:700;position:relative;}
#higienizacao h3 span{width:200px;height:5px;background:#50b9ce;position:absolute;top:30px;left:0;}
#higienizacao .video{width:60%;float:left;}
#higienizacao .mini-galery{width:40%;float:left;padding-left:20px;}
@media (max-width:1024px) {
    #higienizacao .video,#higienizacao .mini-galery{width:100%;padding:10px 0;}
}
#higienizacao .mini-galery .photo{width:100%;height:170px;transition:opacity 0.5s;}
#higienizacao .mini-galery .photo:hover{opacity:0.5;}
@media (max-width:1024px) {
    #higienizacao .mini-galery .photo{height:auto;}
}
#higienizacao .mini-galery .photo:first-of-type{margin-bottom:20px;}
#produtos{width:100%;padding-bottom:50px;float:left;background:#ececec;}
#produtos .content{width:40%;padding-right:50px;float:left;}
#produtos .content p{padding:0 0 20px;color:#666;line-height:1.2rem;}
#produtos .graphic{width:60%;height:268px;margin-bottom:40px;float:left;}
@media (max-width:1024px) {
    #produtos .content{width:100%;}
    #produtos .graphic{display:none;}
}
#produtos .graphic .coluna{width:12.2%;height:268px;margin-right:31px;float:left;position:relative;}
#produtos .graphic .first, #produtos .graphic .second, #produtos .graphic .third, #produtos .graphic .fourth, #produtos .graphic .fifth, #produtos .graphic .sixth{width:100%;padding-top:10px;position:absolute;bottom:0;left:0;height:50px;text-align:center;color:#fff;background:#0992fa;}
#produtos .graphic .second{background:#fdd500;}
#produtos .graphic .third{background:#ff6d00;}
#produtos .graphic .fourth{background:#ff1b03;}
#produtos .graphic .fifth{background:#d222a8;}
#produtos .graphic .sixth{background:#91a800;}
#produtos .graphic .base{width:100%;height:50px;padding:10px 0;position:absolute;bottom:0;left:0;text-align:center;background:#fff;}
.active-first{height:168px !important;-webkit-transition: height 2s;transition: height 2s;}
.active-second{height:188px !important;-webkit-transition: height 2s;transition: height 2s;}
.active-third{height:208px !important;-webkit-transition: height 2s;transition: height 2s;}
.active-fourth{height:228px !important;-webkit-transition: height 2s;transition: height 2s;}
.active-fifth{height:248px !important;-webkit-transition: height 2s;transition: height 2s;}
.active-sixth{height:268px !important;-webkit-transition: height 2s;transition: height 2s;}
#produtos .album{width:100%;float:left;}
#produtos .album .flex-container {width:100%;float:left;display:flex;flex-wrap:nowrap;}
@media (max-width:1024px) {
    #produtos .album .flex-container{flex-direction: column;}
}
#produtos .album .flex-container > div{width:25%;margin:10px;}
@media (max-width:1024px) {
    #produtos .album .flex-container > div{width:100%;margin:10px 0;}
}
#produtos .album .type{width:100%;float:left;box-shadow:2px 2px 10px #999;transition:box-shadow 0.5s;position:relative;}
#produtos .album .type .ico{font-size:2rem;position:absolute;bottom:10px;right:10px;color:#50b9ce;}
#produtos .album .type:hover > .ico{color:#1f3c98;}
#produtos .album .type:hover{box-shadow:5px 5px 30px #999;}
#produtos .album .type img{width:100%;height:auto;}
#produtos .album .legend{width:100%;float:left;padding:15px;}
#produtos .album .product-name{display:block;padding-bottom:10px;font-weight:700;font-size:1.15rem;color:#1f3c98;}
#produtos .album .resume{color:#666;line-height:1.2rem;}

.mfp-with-zoom .mfp-container,.mfp-with-zoom.mfp-bg {opacity: 0;-webkit-backface-visibility: hidden;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.mfp-with-zoom.mfp-ready .mfp-container {opacity:1;}
.mfp-with-zoom.mfp-ready.mfp-bg {opacity: 0.8;}
.mfp-with-zoom.mfp-removing .mfp-container,.mfp-with-zoom.mfp-removing.mfp-bg {opacity: 0;}